{% load static wagtailcore_tags wagtailuserbar %}
{% load i18n wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
        <nav id="menu" class="top-nav navbar navbar-expand-lg fixed-top navbar-light bg-light shadow mx-4 mt-3">
            <div class="container-md">
                <a class="navbar-brand" href="/">
                    <img src="{% static '/images/SB_Logo_BsgCyNY.svg' %}" alt="SB logo" height="60">
                </a>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="{% slugurl 'blog' %}" class="nav-link
                                mx-lg-3 mx-xl-4 text-nowrap">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% wagtailuserbar %}

        {% block content %}
        {% endblock %}

        {# Global javascript #}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>